@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC");
/* line 20, ../sass/style.scss */
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 24, ../sass/style.scss */
.perfil {
  max-width: 70%;
  max-height: 65%;
  border: #d523d5 1px solid;
  border-radius: 50%;
  margin-top: 10%;
  margin-left: 10%;
}

/* line 33, ../sass/style.scss */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #fdbd5c, #fcf7f9, #d523ae, #d523d5);
}

/* line 39, ../sass/style.scss */
.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

/* line 45, ../sass/style.scss */
#info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  margin-right: 10%;
  min-height: 50%;
  padding-top: 20%;
}

/* line 54, ../sass/style.scss */
p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
  font-family: 'Noto Serif TC', serif;
  font-size: 15px;
  text-align: justify;
  width: 50%;
  color: black;
}

/* line 65, ../sass/style.scss */
#fotos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 5% 0;
  margin-right: 5%;
}

/* line 74, ../sass/style.scss */
.imagen img {
  border: #fcf7f9 solid 2px;
  border-radius: 20px;
  margin: 1%;
  width: 130px;
  height: 130px;
}

/* line 81, ../sass/style.scss */
.imagen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

/* line 89, ../sass/style.scss */
.imagen.centro {
  margin: 1%;
}

/* line 92, ../sass/style.scss */
.imagen.centro img {
  border: #fcf7f9 solid 2px;
  border-radius: 20px;
  width: 130px;
  height: 130px;
}

@media only screen and (max-width: 1100px) {
  /* line 99, ../sass/style.scss */
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  /* line 104, ../sass/style.scss */
  .perfil {
    max-width: 50%;
    max-height: auto;
    margin: 0;
    padding: 0;
    margin-top: 10%;
  }

  /* line 111, ../sass/style.scss */
  .contenedorPerfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }

  /* line 115, ../sass/style.scss */
  #info {
    width: 100%;
    min-height: 30%;
    margin: 0;
  }

  /* line 120, ../sass/style.scss */
  p {
    font-size: 22px;
  }

  /* line 126, ../sass/style.scss */
  #fotos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10%;
    margin: 0;
    width: 100%;
  }

  /* line 134, ../sass/style.scss */
  .imagen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  /* line 139, ../sass/style.scss */
  .imagen img {
    width: 250px;
    height: auto;
  }

  /* line 144, ../sass/style.scss */
  .imagen.centro {
    justify-content: center;
  }

  /* line 147, ../sass/style.scss */
  .imagen.centro img {
    width: 250px;
    height: auto;
  }
}
